[bumpversion]
current_version = 3.1.2

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:dbutils/__init__.py]
search = __version__ = '{current_version}'
replace = __version__ = '{new_version}'

[bumpversion:file:README.md]
search = The current version {current_version}
replace = The current version {new_version}

[bumpversion:file:docs/main.rst]
search = :Version: {current_version}
search = :Version: {new_version}

[bumpversion:file:docs/main.de.rst]
search = :Version: {current_version}
search = :Version: {new_version}
