body {
  color: #001122;
}

header.hero {
  height: 160px;
  margin: 0 0 40px 0;
  overflow: hidden;
  z-index: 1;
}

header.hero .title {
  height: 120px;
  margin: 0;
  padding: 24px 8px 2px 40px;
  color: #003366;
  font-size: 72px;
  font-style: italic;
  font-weight: bolder;
  vertical-align: bottom;
}

header.hero .title small {
  font-size: 36px;
}

header.hero .subtitle {
  height: 40px;
  margin: 0;
  padding: 2px 8px 2px 40px;
  background-color: #003366;
  color: #f0f4f8;
  font-size: 24px;
  font-weight: normal;
}

header.hero img.logo {
  position: absolute;
  top: 48px;
  right: 8px;
  border-style: none;
  z-index: 2;
}

@media screen and (max-width: 595px)  {
  header.hero img.logo {
    display: none;
  }
}

div.slogan {
  padding: 2pt 8pt;
  color: #336699;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}

div.content {
  padding: 16pt;
}

section.card {
  margin: 8pt;
  text-align: center;
}

section.card > header {
  background-color: #0b6330;
}

section.card > header h2 {
  color: #f0f8f4;
  margin: 0 2pt;
}

section.card > div {
  padding: 8pt;
  background-color: #f0f8f4;
}

section#papers div {
  font-size: smaller;
  text-align: left;
}

.small-button {
  font-size: .75em;
}

.button {
  background: #003366;
}

a {
  color: #0b6330;
}

a:hover {
  text-decoration: underline;
}

a.button:hover {
  text-decoration: none;
}

footer {
  padding: 8pt;
  text-align: center;
  color: #336699;
  font-size: 16px;
  border-top: 1px solid #cccccc;
}
