include MANIFEST.in

include LICENSE
include README.md

recursive-include docs *.rst make.py *.html *.css *.png

prune docs/_build
exclude release.md setversion.py

global-exclude *.py[co] __pycache__
