{
	'html': {
		'tabSubstitute': ' '*4,  # eg, 4 spaces per tab
		'file': ('''<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Summary of %(package)s</title>
<style type="text/css">
<!--
body { background: #FFF;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 10pt;
 padding: 3pt; }
pre { background: #EEF; padding: 3pt; }
.line_class { color: #446; line-height: 14pt; }
.line_category { color: #008; line-height: 14pt; }
.line_def { color: #224; line-height: 12pt;}
.name_class { color: #000; font-weight: bold; text-decoration: underline; }
.name_def { color: #000; font-weight: bold; }
-->
</style>
</head>
<body>
<h2>Summary of %(package)s</h2>
<p>You can also browse the <a href="../Files/%(module)s.html">complete source file</a>
or the <a href="../Docs/%(package)s.html">generated documentation</a>.</p>
<pre>''',

'''</pre>
</body>
</html>'''),

		'class':    ('\n', ''),
		'def':      ('', ''),
		'category': ('\n', ''),
	},

	'text': {
		'tabSubstitute': ' '*4,  # eg, 4 spaces per tab
		'file':          ('', ''),
		'class':         ('\n', ''),
		'def':           ('', ''),
		'category':      ('\n', ''),
	},
}
