# checksrc.config
{
	'SkipFiles': ['inspect', 'pydoc'],
	'DisableErrors': {
		'ClassNotCap': ['BasicDateTime'],
		'LineSize': ['Properties'],
		'MethCap': ['MixIn'],
		'NoUnderAttr': ['BasicDateTime', 'DBPool', 'Error', 'M2PickleRPC',
			'ParamFactory', 'PickleRPC', 'TestNamedValueAccess'],
		'ExtraUnder': ['DBPool', 'M2PickleRPC', 'NamedValueAccess', 'PickleRPC'],
	}
}
