/* CSS 3.1 style sheet for the output of Docutils 0.13 HTML5 writer. */
.align-left{text-align:left}
.align-right{text-align:right}
.align-center{clear:both;text-align:center}
.align-top{vertical-align:top}
.align-middle{vertical-align:middle}
.align-bottom{vertical-align:bottom}
h1.title,p.subtitle{text-align:center}
p.admonition-title,p.topic-title,p.sidebar-title,p.rubric,p.system-message-title{font-weight:700}
h1 + p.subtitle,h1 + p.section-subtitle{font-size:1.6em}
h2 + p.section-subtitle{font-size:1.28em}
p.subtitle,p.section-subtitle,p.sidebar-subtitle{font-weight:700;margin-top:-.5em}
p.sidebar-title,p.rubric{font-size:larger}
p.rubric{color:maroon}
a.toc-backref{color:#000;text-decoration:none}
div.caution p.admonition-title,div.attention p.admonition-title,div.danger p.admonition-title,div.error p.admonition-title,div.warning p.admonition-title,div.system-messages h1,div.error,span.problematic,p.system-message-title{color:red}
span.docutils.literal{font-family:monospace;white-space:pre-wrap}
.literal > span.pre{white-space:nowrap}
.simple li,.compact li,.simple ul,.compact ul,.simple ol,.compact ol,.simple > li p,.compact > li p,dl.simple > dd,dl.compact > dd{margin-top:0;margin-bottom:0}
div.topic.contents{margin:0}
ul.auto-toc{list-style-type:none;padding-left:1.5em}
ol.arabic{list-style:decimal}
ol.loweralpha{list-style:lower-alpha}
ol.upperalpha{list-style:upper-alpha}
ol.lowerroman{list-style:lower-roman}
ol.upperroman{list-style:upper-roman}
dt span.classifier{font-style:italic}
dt span.classifier:before{font-style:normal;margin:.5em;content:":"}
dl.field-list > dt,dl.option-list > dt,dl.docinfo > dt,dl.footnote > dt,dl.citation > dt{font-weight:700;clear:left;float:left;margin:0;padding:0;padding-right:.5em}
dl.field-list > dd,dl.option-list > dd,dl.docinfo > dd{margin-left:9em}
dl.field-list > dd > :first-child,dl.option-list > dd > :first-child{display:inline-block;width:100%;margin:0}
dl.field-list > dt:after,dl.docinfo > dt:after{content:":"}
pre.address{font:inherit}
dd.authors > p{margin:0}
dl.option-list{margin-left:40px}
dl.option-list > dt{font-weight:400}
span.option{white-space:nowrap}
dl.footnote.superscript > dd{margin-left:1em}
dl.footnote.brackets > dd{margin-left:2em}
dl > dt.label{font-weight:400}
a.footnote-reference.brackets:before,dt.label > span.brackets:before{content:"["}
a.footnote-reference.brackets:after,dt.label > span.brackets:after{content:"]"}
a.footnote-reference.superscript,dl.footnote.superscript > dt.label{vertical-align:super;font-size:smaller}
dt.label > span.fn-backref{margin-left:.2em}
dt.label > span.fn-backref > a{font-style:italic}
div.line-block{display:block}
div.line-block div.line-block{margin-top:0;margin-bottom:0;margin-left:40px}
.figure.align-left,img.align-left,object.align-left,table.align-left{margin-right:auto}
.figure.align-center,img.align-center,object.align-center{margin-left:auto;margin-right:auto;display:block}
table.align-center{margin-left:auto;margin-right:auto}
.figure.align-right,img.align-right,object.align-right,table.align-right{margin-left:auto}
div.align-left,div.align-center,div.align-right,table.align-left,table.align-center,table.align-right{text-align:inherit}
div.admonition,div.system-message,div.sidebar{margin:40px;border:medium outset;padding-right:1em;padding-left:1em}
div.sidebar{width:30%;max-width:26em;float:right;clear:right}
div.topic,pre.literal-block,pre.doctest-block,pre.math,pre.code{margin-right:40px;margin-left:40px}
pre.code .ln{color:gray}
table{border-collapse:collapse}
td,th{border-style:solid;border-color:silver;padding:0 1ex;border-width:thin}
td > p:first-child,th > p:first-child{margin-top:0}
td > p,th > p{margin-bottom:0}
table > caption{text-align:left;margin-bottom:.25em}
table.borderless td,table.borderless th{border:0;padding:0;padding-right:.5em}
body{padding:0 5%;margin:8px 0}
div.document{line-height:1.3;counter-reset:table;max-width:50em;margin:auto}
hr.docutils{width:80%;margin-top:1em;margin-bottom:1em;clear:both}
p,ol,ul,dl,div.line-block,table{margin-top:.5em;margin-bottom:.5em}
h1,h2,h3,h4,h5,h6,dl > dd{margin-bottom:.5em}
dl > dd p:first-child{margin-top:0}
dd > ul:only-child,dd > ol:only-child{padding-left:1em}
dl.description > dt{font-weight:700;clear:left;float:left;margin:0;padding:0;padding-right:.5em}
dl.field-list.narrow > dd{margin-left:5em}
dl.field-list.run-in > dd p{display:block}
div.abstract p.topic-title{text-align:center}
div.dedication{margin:2em 5em;text-align:center;font-style:italic}
div.dedication p.topic-title{font-style:normal}
dl.citation dt.label{font-weight:700}
span.fn-backref{font-weight:400}
pre.literal-block,pre.doctest-block,pre.math,pre.code{margin-left:1.5em;margin-right:1.5em}
blockquote,div.topic{margin-left:1.5em;margin-right:1.5em}
blockquote > table,div.topic > table{margin-top:0;margin-bottom:0}
blockquote p.attribution,div.topic p.attribution{text-align:right;margin-left:20%}
table tr{text-align:left}
table.booktabs{border:0;border-top:2px solid;border-bottom:2px solid;border-collapse:collapse}
table.booktabs *{border:0}
table.booktabs th{border-bottom:thin solid}
table.numbered > caption:before{counter-increment:table;content:"Table " counter(table) ": ";font-weight:700}
dl.footnote{padding-left:1ex;border-left:solid;border-left-width:thin}
.figure.align-left,img.align-left,object.align-left{display:block;clear:left;float:left;margin-right:1em}
.figure.align-right,img.align-right,object.align-right{display:block;clear:right;float:right;margin-left:1em}
h1,h2,h3{clear:both}
div.sidebar{width:30%;max-width:26em;margin-left:1em;margin-right:-5.5%;background-color:#ffe}
pre.code,code{background-color:#eee}
pre.code .ln{color:gray}
pre.code .comment,code .comment{color:#5C6576}
pre.code .keyword,code .keyword{color:#3B0D06;font-weight:700}
pre.code .literal.string,code .literal.string{color:#0C5404}
pre.code .name.builtin,code .name.builtin{color:#352B84}
pre.code .deleted,code .deleted{background-color:#DEB0A1}
pre.code .inserted,code .inserted{background-color:#A3D289}
div.footer,div.header{clear:both;font-size:smaller}
a{text-decoration:none}