{
	'KnownModels': {
		# this is keyed by host name
		# if host name does not match, '_default_' is used
		# the hosts of '_all_' is appended for all hosts

		#'hostname': [
		#	'path to a .mkmodel #1',
		#	'path to a .mkmodel #2',
		#],

		'_default_': [],
		'_all_': [],
	},

	'KnownDatabases': {
		# regarding keys, this dictionary works like KnownModels above

		#'hostname': [
		#	{ 'database': 'MySQL', 'host': 'my.host.com', 'user': 'user', 'password': 'pwd' },
		#],

		'_default_': [],
		'_all_': [
		],
	}
}
