name: Test DBUtils using tox

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ['3.6', '3.7', '3.8', '3.9', '3.10', '3.11']

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python ${{ matrix.python }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}

      - run: pip install tox

      - run: tox -e py

      - if: matrix.python == 3.11
        run: TOXENV=flake8,manifest,docs,spell tox
